/** 查詢條件樣式 **/
.queryBox {
    /*border: 1px solid black;*/
    border-radius: 12px 12px;
    background: linear-gradient(135deg, #0f2350, #1a3b6b);
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.queryBox-header {
    color: white;
    padding: 20px 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

.queryBox-body {
    background-color: white;
    padding: 0px 0px;
}
    .queryBox-body .row {
        margin: 0px 0px;
        padding: 10px 5px;
    }
        .queryBox-body .row .col label {
            /*font-weight:700;*/
        }

/** 列表樣式 **/
.gv-tb {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    padding:0px;
}

.gv {
    min-width:100%;    
    background-color:white;
    border:none;
}

    .gv tr th {
        background: #d3d3d3;
        /*color: #0f2350;*/
        font-size: 1rem;
        font-weight: 600;
        border: none;
        padding: 15px 10px;
        /*white-space: nowrap;*/
    }

    .gv tr td {
        padding: 10px 10px;
    }

    .gv tr {
        border-bottom: 1px solid #e1e1e1;
    }
    .gv tr:first-child {
        border-bottom: none;
    }
    .gv tr:last-child {
        border-bottom: none;
    }

        .gv tr td table {
            margin:0 auto;
        }

/** 填寫表單樣式 **/
.formCard {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    margin-bottom:15px;
}

    .formCard .card-header {
        background: linear-gradient(135deg, #0f2350, #1a3b6b);
        color: white;
        padding: 20px;
        font-size: 1.25rem;
        font-weight: 600;
    }
    .formCard .card-body {
        background-color:white;
    }

        .formCard .card-body label {
            font-weight:500;
        }

        .formCard .card-body .row:not(:last-child) {
            margin-bottom: 15px;
        }

    .formCard .star {
        color:red;
    }
    .formCard .info {
        font-size:0.85rem;
        color:gray;
    }
    .formCard .card-footer .msg {
        text-align:center;
        color:tomato;
    }

    .formCard .card-header.green {
        background: linear-gradient(135deg, #316745, #47885e);
    }

    .formCard .card-header.orange {
        background: linear-gradient(135deg, #e17b34, #e49e61);
    }

    .formCard .card-header.red {
        background: linear-gradient(135deg, #9e3d3f, #b7282e);
    }

/*文字樣式*/
.text_info {
    font-size: 0.85rem;
    color: gray;
}